* {
  box-sizing: border-box;
  font-family: inherit;
}

@font-face {
  font-family: "Galano";
  src: url("/fonts/GalanoGrotesqueRegular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Galano";
  src: url("/fonts/GalanoGrotesqueMedium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Galano";
  src: url("/fonts/GalanoGrotesqueBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Galano";
  src: url("/fonts/GalanoGrotesqueExtraBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #ffffff;
  font-family: "Galano", sans-serif;
  position: relative;
}

img {
  max-width: 100%;
}

input[type="checkbox"] {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
}

input[type="checkbox"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #dedede;
  background-color: #fff;
}

input[type="checkbox"]:checked::before {
  background-color: #ff0d87;
  border: 1px solid #e5107c;
}

input[type="checkbox"]::after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 10px;
  background-image: url("/Vector-6.png");
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

input[type="checkbox"]:checked::after {
  opacity: 1;
}
